@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600;800&display=swap");

.captainScMainContainer {
  background-image: url("../assets/images/Timer-Screen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

.captainScDslLogo {
  display: flex;
}

.captainScDslLogo img {
  width: 12%;
  margin-left: 2rem;
  margin-top: 2rem;
}

.captainScSubContainer {
  display: flex;
  flex-direction: row;
}

.captainScTextAndBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-120px, 150px);
  width: 100%;
  /* transform: translateX(50px); */
}

.captainScText {
  font-family: "Poppins";
  color: white;
  font-weight: 1000;
  font-size: 4.5rem;
  text-shadow: 6px 6px 4px black;
}

.captainScBtn button {
  border-radius: 15px 15px 15px 15px;
  font-family: "Poppins";
  color: #fff;
  font-size: 2rem;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
  padding: 0.4rem 1.6rem;
  background-image: linear-gradient(
    rgb(248, 71, 22),
    rgb(233, 129, 59),
    rgba(227, 155, 76, 1),
    rgba(255, 171, 81, 1)
  );
  text-shadow: 3px 4px 4px black;
  transform: translateY(40px);
  cursor: pointer;
}

.captainScCharacter {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.captainScCharacter img {
  /* transform: translateX(-150px); */
  position: absolute;
  top: -250px;
  width: 600px;
  transform: translateX(-350px);
}

.captainsScCompanyLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  overflow: hidden;
  padding: 0px 20px;
  background: linear-gradient(rgba(186, 9, 9, 0), rgba(255, 255, 255, 0.236));
}

.captainsScPosition {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.captainsScPosition h1 {
  position: absolute;
  font-size: 15em;
  color: #ffffff50;
  transform: translateY(-15px);
}

.captainsScPosition img {
  width: 250px;
  z-index: 1;
  filter: drop-shadow(5px 5px 2px black);
}

.captainScCurrentUser {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 400px;
  /* overflow-x: visible; */
  /* flex-direction: column; */
   margin-left: 2rem;
  /* margin-top: 2rem; */
}

.captainScCurrentUser h1 {
  position: absolute;
  font-size: 15em;
  color: #ffffff50;
  transform: translate(60px,-15px);

}

.captainScCurrentUser img {
  width: 250px;
  z-index: 1;
  filter: drop-shadow(5px 5px 2px black);
}

.bidding-modal{
  background: rgba(255, 255, 255, 0.70);
  width: fit-content;
  padding: 50px 70px;
  font-family: "Poppins";
  font-weight: 600;
  position: absolute;
  z-index: 1000;
  left: 50px;
  top: 22vh;
  border-radius: 15px;
  opacity: 1;
  transform: translateX(-1000px);
}

.bid-input{
  display: flex;
  column-gap: 10px;
}

.bid-input input{
  padding: 10px 20px;
  font-size: 25px;
  background: black;
  border: none;
  color: white;
  font-family: "Poppins";
  font-weight: 600;
  border-radius: 5px;
}

.bid-direct{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  /* justify-content: center; */
  align-items: center;
}

.bid-direct div{
  column-gap: 50px;
  display: flex;
  padding-bottom: 20px;
}

.bidding-modal button{
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px;
  width: 200px;
  cursor: pointer;
}

.ownerTimer{
  position: absolute;
  width: fit-content;
  color: white;
  top: 15px;
  left: 18%;
  font-size: 50px;
  font-family: "Poppins";
  font-weight: 600;
}